{% load static %}

	<!-- Start Menu -->
	<div class="menu-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Special Menu</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
					</div>
				</div>
			</div>
			
			<div class="row inner-menu-box">
				<div class="col-3">
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">All</a>
						<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Drinks</a>
						<a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Lunch</</a>
						<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Dinner</a>
					</div>
				</div>
				
				<div class="col-9">
					<div class="tab-content" id="v-pills-tabContent">
						<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
							<div class="row">

								{% for food in foods %}
								
									<div class="col-lg-4 col-md-6 special-grid drinks">
										<a href="{{food.get_absolute_url}}">
											<div class="gallery-single fix">
												<img src="{{food.photo.url}}" class="img-fluid" alt="Image">
												<div class="why-text">
													<h4>{{food.name}}</h4>
													<p>{{food.summeryDes}}</p>
													<h5>{{food.price}}</h5>
												</div>
											</div>
										</a>
									</div>
								
								{% endfor %}

							</div>
						</div>
						<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
							<div class="row">

								{% for drinks in foods %}

								{% if drinks.category == 1 %}
								<div class="col-lg-4 col-md-6 special-grid drinks">
									<a href="{{drinks.get_absolute_url}}">
										<div class="gallery-single fix">
											<img src="{{drinks.photo.url}}" class="img-fluid" alt="Image">
											<div class="why-text">
												<h4>{{drinks.name}}</h4>
												<p>{{drinks.summeryDes}}</p>
												<h5>{{drinks.price}}</h5>
											</div>
										</div>
									</a>
								</div>
								{% endif %}

								{% endfor %}

							</div>
						</div>
						<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<div class="row">

								{% for lunch in foods %}								
								
								{% if lunch.category == 2 %}
								<div class="col-lg-4 col-md-6 special-grid lunch">
									<a href="{{lunch.get_absolute_url}}">
										<div class="gallery-single fix">
											<img src="{{lunch.photo.url}}" class="img-fluid" alt="Image">
											<div class="why-text">
												<h4>{{lunch.name}}</h4>
												<p>{{lunch.summeryDes}}</p>
												<h5>{{lunch.price}}</h5>
											</div>
										</div>
									</a>
								</div>
								{% endif %}

								{% endfor %}

							</div>
						</div>
						<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
							<div class="row">

								{% for dinner in foods %}
								{% if dinner.category == 3 %}
								<div class="col-lg-4 col-md-6 special-grid dinner">
									<a href="{{dinner.get_absolute_url}}">
										<div class="gallery-single fix">
											<img src="{{dinner.photo.url}}" class="img-fluid" alt="Image">
											<div class="why-text">
												<h4>{{dinner.name}}</h4>
												<p>{{dinner.summeryDes}}</p>
												<h5>{{dinner.price}}</h5>
											</div>
										</div>
									</a>
								</div>
								{% endif %}
								{% endfor %}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<!-- End Menu -->
